@model Presentation.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}
<h2>Login</h2>
@if (!ViewData.ModelState.IsValid)
{
    <div style="background-color: #96aeae; color: Black; height: 40px;">
            @Html.ValidationMessage("Error")
    </div>
}
    <hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Register</a>
</div>

