
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutMedics";
}
<br />
<div class="panel panel-info" style="margin-left: 40px; margin-right: 40px;">
    <div class="panel-heading"><h3>News...</h3></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8 center-block">
                <div class="thumbnail">
                    <img class="img-responsive" src="/images/Zika-Virus-Infograph.jpg" alt=""/>
                    <div class="caption">
                        <p>Zika virus (ZIKV) is a member of the virus family Flaviviridae.[3] It is spread by daytime-active Aedes mosquitoes, such as A. aegypti and A. albopictus.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="thumbnail">
                    <img class="img-responsive" src="/images/F1.large.jpg" alt=""/>
                </div>
            </div>
            <div class="col-md-8">
                <div class="thumbnail">
                    <img class="img-responsive" src="/images/medical-graphs-14-728.jpg" alt=""/>
                </div>
            </div>
        </div>
    </div>
</div>
<p>dafa  @ViewData["Username"]</p>
