@model EmailSenderViewModel
@{
    ViewData["Title"] = "SendEmail";
    Layout = "_LayoutMedics";
}
<br/>
<div class="panel panel-info" style="margin-left: 40px; margin-right: 40px;">
<div class="panel-heading"><h3>Send Email</h3></div>
<div class="panel-body">
    <div class="row">
        <div class="col-xs-2"></div>
    <div class="col-xs-4">
        <form asp-action="SendEmail">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ToUsername" class="control-label"></label>
                <input asp-for="ToUsername" class="form-control" />
                <span asp-validation-for="ToUsername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="SendEmail" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back</a>
</div></div></div>


