@model IEnumerable<DataDomain.Person>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutPatients";
}
<br />
<div class="panel panel-info" style="margin-left: 40px; margin-right: 40px;">
    <div class="panel-heading"><h3>We care about you and we offer you the following medical services...</h3></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <p>
                    <strong> General Primary Car</strong><br />
                    Our primary care services include preventative health care and routine medical care, such as physical exams, treatment of common problems (colds, vomiting, skin problems like acne, infections); accidents, and sports related injuries such as sprains and fractures and lacerations, as well as chronic illnesses such as asthma or diabetes. Referrals for specialty consultations and care can be made when necessary.
                    <br />
                    <strong>Women's Health Care</strong><br />
                    For females, routine pelvic and breast examinations, Pap tests, contraceptive services, sexually transmitted infection testing and treatment are available. Counseling regarding pregnancy options, and referrals for prenatal care or pregnancy terminations are made. Information about the GYN Examination, Evaluation of Sexually Transmitted Infections, and gynecological appointment .
                    <br />
                    <strong>Men's Health Care</strong><br />

                    For males, preventive health services and screening for sexually transmitted infections and other health concerns unique to men are available.
                    <br />
            </div>
            <div class="col-lg-6">
                <strong>Immunizations, TB testing, flu vaccines</strong><br />

                Reviewing, screening, and updating immunizations is provided. Students will need to pay for vaccines before receiving them from the provider. Some vaccines are eligible for reimbursement from their health insurance. For information on Rutgers University immunization requirements and other vaccines, visit here.
                <br />
                <strong>Laboratory Tests</strong><br />

                Laboratory services are available for students who require laboratory testing. Some tests are sent to an outside laboratory. A selected number of basic tests are included in the Health Fee at no charge to the student.
                <br />
                <strong>Physical Examinations</strong><br />

                Physical Examinations are provided as recommended.
                <br />
                <strong>Nutrition Counseling</strong><br />

                Clinical staff can provide nutrition counseling. Just ask your regular health care provider. For additional nutrition information go to http://www.choosemyplate.gov/.
                <br />
                <strong>HIV Testing</strong><br />

                Confidential HIV testing is available at Student Health Services. The CDC recommends yearly HIV testing for everyone regardless of risk..

                Sexually Transmitted Infection (STI) Testing and Treatment

                Confidential STI testing and treatment is available at Student Health Services.
                </p>
            </div>
        </div>
    </div>
